<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCActivityTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCActivityTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PCActivityTracker.Properties.Settings>
            <setting name="pollingRate" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="dataLifetime" serializeAs="String">
                <value>90.00:00:00</value>
            </setting>
            <setting name="breakFreq" serializeAs="String">
                <value>01:30:00</value>
            </setting>
        </PCActivityTracker.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PCActivityTracker.Properties.Settings>
            <setting name="dataDirectory" serializeAs="String">
                <value>%LOCALAPPDATA%\PCActivityTracker\TrackingData\</value>
            </setting>
            <setting name="blacklistFile" serializeAs="String">
                <value>%LOCALAPPDATA%\PCActivityTracker\blacklist.dat</value>
            </setting>
        </PCActivityTracker.Properties.Settings>
    </applicationSettings>
</configuration>